<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

</head>

<body>
<p>
    <p>Ola {{.Name}},</p>
    <p>Você esta recebendo este e-mail porque solicitou a recuperação de senha da sua conta.</p>
    <p>Por favor, clique no link abaixo para completar o processo. Para alterar a senha, você deve ter o App E-commerce Box instalado.</p>
    <p>
      <a href="{{.URL}}">Clique Aqui</a>
    </p>
    <p>Se você não solicitou a recuperação de senha, ignore este e-mail e sua senha permanecerá inalterada.</p>
    <p>Atenciosamente,</p>
    <p>Equipe {{.AppName}}</p>
</p>
    
</body>

</html>